@tailwind base;
@tailwind components;
@tailwind utilities;


.rounded1{
  border-radius: 100%;
}
.fix{
  position: fixed;
  inset: 0;
  background-color: transparent;
  display: flex;
  z-index: 10;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.upper{
  box-shadow: 0 -1px 8px #000;
}
.down{
  box-shadow: 0 1px 8px #000;

}